body {
    font-size: 40px;
    text-align: center;
}

.fixed-form-container {
    overflow: hidden;
    background-color: rgba(202, 162, 116, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20;
}

.your-library {
    background-image: url(/library/images/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    padding: 100px;
    margin: 0px -20px;
    height:80px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.your-library > center {
    padding-top: 40px;
}

.your-library > center > h1 {
    background-color: rgba(202, 162, 116, 0.9);
    width: 300;
    border-radius: 10px;
}

.library-container {
    padding: 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
}

table { 
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

thead {
    background-color: rgba(202, 162, 116, 0.9);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

td {
    text-align: left;
}

tbody > tr:nth-child(even){
    background-color: #f2f2f2;
}

tbody > tr:hover {
    background-color: #ddd;
}

td:nth-child(5) {
    border: none;
    padding: 0px 0px 0px 15px;
    background-color: white;
}

td:nth-child(5):hover {
    background-color: white;
}

#form-wrapper {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 10px;
}

.title-wrapper, .author-wrapper, .page-wrapper, .read-wrapper, .submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}

.submit-wrapper { 
    padding: 12px 10px;
}

#read-change-button {
    margin: 10px;
    float: right;
}
